.NotFound{
    display: flex;
    flex-direction:column;
    width: 20rem;
    align-items: center;
    padding: 2rem;
    border: 2px solid orangered
}

.NotFound-img{
    display: flex;
    flex-direction:row;
    margin-bottom: 2rem;
}

.NotFound-text{
    font-size: 2rem;
    color:orange;
    white-space: nowrap;
}