.side-navbar-menu{
/* 固定定位 */
    position:fixed;
    /* 靠右 */
    top:50vh;
    transform: translateY(-50%);
    right:1rem;
    display: flex;
    background-color: white;
    border-radius: 1rem;
    padding:0.5rem;
    gap:1rem;/* 增加菜单项之间的间距 */
    justify-content: center;
    flex-direction: column;/* 垂直排列菜单项 */
    align-content: center;
    /* flex-direction:row-reverse; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* 添加阴影 */
}

.side-navbar-item{
    font-size: 1.2rem;
    padding-top: 0.5rem;
    flex-direction: column; /* 图标和文字垂直排列 */
    align-items: center;
    justify-items: center;
    height: auto;
    cursor: pointer;
}

.side-navbar-item:hover {
    color:orange;
}

.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0.2rem; /* 图标与文字之间的间距 */
}